/* Estilo para el BorderPane principal con ID "fondo" */
#fondo {
    -fx-background-color: linear-gradient(to bottom right, #2D6281FF, white); /* Gradiente lineal de azul a blanco */
}

/* Estilo para el botón "Acceder" */
#btnAcceder {
    -fx-background-color: white; /* Color de fondo del botón en blanco */
    -fx-text-fill: #2D6281FF; /* Color del texto del botón en #2D6281FF */
}

#otrosBtn {
    -fx-background-color: #2D6281FF; /* Color del texto del botón en #2D6281FF */
    -fx-text-fill: white; /* Color de fondo del botón en blanco */
}

/* Estilo general para todas las etiquetas (Labels) */
Label {
    -fx-text-fill: white; /* Color del texto en blanco */
}

/* Estilo para la etiqueta (LabelBienvenida) */
#labelBienvenida {
    -fx-font-size: 30; /* Tamaño de fuente 30 */
}

/* Estilo para la etiqueta (LabelInfo) */
#labelInfo {
    -fx-font-size: 14; /* Tamaño de fuente 14 */
    -fx-text-fill: red;/* Color del texto en rojo */
}

#labelInfoCantidad {
    -fx-font-size: 16; /* Tamaño de fuente 16 */
    -fx-text-fill: #f9fbff;/* Color del texto en blanco */
}

/* Estilo para la barra de menú */
#menuBar {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/**
 * Estilo para el texto en elementos de menú.
 */
#txtMenu > .label {
    -fx-text-fill: white; /* Color del texto en blanco */
}

/* Estilo para el texto del Menu "Opciones" ("txtMenu") */
#txtMenu {
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-weight: bold; /* Peso de fuente en negrita */
}

/* Estilo para el texto de los elementos del menú ("txtItem") */
#txtItem {
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-weight: normal; /* Peso de fuente normal */
}

/**********************Tablas*********************/

/* Estilo para las celdas de tabla cuando el cursor está sobre ellas */
.table-cell:hover {
    -fx-background-color: #2a5c7a;
    -fx-text-background-color: white;
}

/* Estilo para eliminar el borde de las celdas vacías en la tabla */
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* Estilo para las celdas vacías en la tabla cuando el cursor está sobre ellas */
.table-row-cell:empty .table-cell:empty:hover {
    -fx-background-color: white;
}

/* Estilo para centrar el contenido de las celdas */
.table-cell:filled {
    -fx-alignment: CENTER;
}

/* Estilo para filas cuando el ratón se encuentra sobre ellas */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-background-color: #2a5c7a;
}

/* Estilo para filas seleccionadas cuando el ratón se encuentra sobre ellas */
.table-view:row-selection .table-row-cell:filled:selected:hover {
    -fx-background-color: #2a5c7a;
}

/* Estilo para filas seleccionadas por el usuario */
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: white;
}

/* Estilo para las celdas de tabla cuando están seleccionadas */
.table-row-cell:filled:selected {
    -fx-background-color: transparent; /* Color de fondo transparente cuando está seleccionada */
    -fx-text-fill: white; /* Color de texto blanco cuando está seleccionada */
}

/* Evitar cambio de color de texto al hacer clic en las celdas de tabla */
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: inherit; /* Hereda el color de texto original */
}
/* Elimina el borde del table que aparece cuando el mismo tiene el foco */
.table-view, .table-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.5, 0, 1;
    -fx-background-radius: 1.5, 0, 0;
}

/* Estilo para cambiar el color de fondo del título de columna cuando el ratón está sobre él */
.table-view .column-header:hover {
    -fx-background-color: #2f7eea;
    -fx-text-fill: #2a5c7a; /* Cambio de color al pasar el ratón sobre el título */
}

/* Estilo para cambiar el tamaño, bordes y color de fondo de los títulos */
.table-view .column-header, .table-view .filler {
    -fx-background-color: #2a5c7a;
    -fx-size: 50;
    -fx-border-width: 0 1 5 0;
    -fx-border-insets: 0;
}
/* Estilo para filas seleccionadas por el usuario */
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: transparent;
}

/* Estilo para las celdas de tabla cuando están seleccionadas */
.table-row-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* Cambia el color de texto a negro cuando está seleccionada */
}

/* Estilo para filas seleccionadas por el usuario */
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: transparent;
}

/* Estilo para las celdas de tabla cuando están seleccionadas */
.table-row-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* Cambia el color de texto a negro cuando está seleccionada */
}

/* Estilo para las celdas de tabla cuando el cursor está sobre ellas y están seleccionadas */
.table-row-cell:filled:selected:hover {
    -fx-background-color: #2a5c7a;
    -fx-text-fill: white;
}


/* Estilo para hacer transparente el fondo de los títulos */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* Estilo para cambiar el tipo de fuente */
* {
    -fx-font-family: "Constantia"; /* Cambia el tipo de fuente a "Constantia" */
}
